{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Finch Collector</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper teal lighten-2">
            <a href="/" class="left brand-logo">Finch Collector</a>
            <ul id="nav-mobile" class="right">
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'finches_create' %}">Add a Finch</a></li>
                <li><a href="{% url 'finches_index' %}">All Finches</a></li>
                <li><a href="{% url 'birdacc_create' %}">Add Bird Accessories</a></li>
                <li><a href="{% url 'birdacc_index' %}">Bird Accessories</a></li>
            </ul>
        </div>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        All Rights Reserved, &copy; 2022 Finch Collector &nbsp;
    </footer>
</body>
</html>